[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-rest-framework = "==0.1.0"
djangorestframework = "==3.8.2"
marshmallow = "==2.15.6"
factory-boy = "==2.11.1"
Django = "==2.1.2"
gunicorn = "==19.9.0"
psycopg2-binary = "==2.8.3"

[packages]
django-rest-framework = "==0.1.0"
djangorestframework = "==3.8.2"
marshmallow = "==2.15.6"
factory-boy = "==2.11.1"
Django = "==2.1.2"
gunicorn = "==19.9.0"
psycopg2-binary = "==2.8.3"

[requires]
python_version = "3.7"
